@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navigation {
  background-color: rgb(7, 7, 93) !important;
  font-family: "Merienda", cursive;
}
.banner {
  background-image: url(../images/background.jpg);
  /* height: 40vh; */
  padding: 85px 0;
  text-align: center;
  font-family: "Merienda", cursive;
}
.titre-form {
  color: rgb(47, 66, 120);
  font-family: "Merienda", cursive;
}
#MessageErreur {
  display: none;
}
.success-message {
  display: none;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.carousel-item {
  width: 100%;
}
/* .Deuxieme-section{

} */
.titre-section {
  font-family: "Merienda", cursive;
  color: rgb(47, 66, 120);
}
.section-img {
  /* border: 2px solid red; */
  width: 300px;
}
.row-image {
  width: 100%;
  object-fit: cover;
  mix-blend-mode: darken;
  background-color: rgba(29, 51, 76, 0.789);
}

/* Pour le footer */
.footer {
  background-color: rgb(7, 7, 93);
  padding: 5px;
}
.footer p {
  color: white;
  /* text-align: center;*/
}
/* class JS */
.is-invalid {
  background-color: #f9616180;
  /* padding: 0.75rem 1.5rem; */
  border-radius: 0.3rem;
}


/* ----- Responsive  ----- */

/* Écrans très petits (max-width: 576px) */
/* @media (max-width: 576px) {
  
} */


